/*SERVIDORES WEB PARTE_02
Sesion modulo_03 semana_05 03/04/2021*/



/*Comentario en CSS*/

body{
    background-color:dimgrey;
    color:crimson;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
} 